
  <mat-card class="rest-card">
    <mat-card-header>
      <mat-card-title>{{restaurant.name | uppercase}}</mat-card-title>
      <mat-card-subtitle *ngIf="restaurant.phone || restaurant.website">Tel: <a href="tel:{{restaurant.phone}}" target="_blank">{{restaurant.phone}}</a><br>
        <span *ngIf="restaurant.website">Website: <a href="{{restaurant.website}}" target="_blank">{{restaurant.name | lowercase}}</a> </span></mat-card-subtitle>
    </mat-card-header>


    <mat-card-content>
      <!--The restaurant's rating, out of 5 and the restaurant's review, if any-->
      <p>Rating: {{restaurant.rating}} <span *ngIf="restaurant.reviews">Review: {{restaurant.reviews}}></span></p>

      <!--If clause is there to show address if there is one associated with the restaurant-->
      <p *ngIf="restaurant.location">
        <span *ngIf="restaurant.location.apartment">{{restaurant.location.apartment}}-</span>{{restaurant.location.streetNumber}} {{restaurant.location.streetName}},<br>
        {{restaurant.location.city}}, {{restaurant.location.province}}<br>
        {{restaurant.location.country}} {{restaurant.location.postalCode}}
      </p>
</mat-card-content>
</mat-card>

